In [1]:
import plotly.express as px
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
%matplotlib inline

In [116]:
#Building Main Data Frame with Opportunity Ratio and saving as main_df.csv to ../data/clean_data
prop_value_df = pd.read_csv(Path("../data/clean_data/zillow_data_houston_sa_austin_dallas.csv"), header = 0, usecols = ["YEAR","AVG_PROP","ZIPCODE","CITY"], names = ["YEAR","REGION","AVG_PROP","ZIPCODE","CITY"], infer_datetime_format=True, parse_dates=True)[["YEAR","ZIPCODE","CITY","AVG_PROP"]]
prop_value_df["YEAR"] = pd.DatetimeIndex(prop_value_df["YEAR"]).year
#prop_value_df = prop_value_df.groupby(["YEAR","ZIPCODE"],as_index = True).sum()
#prop_value_df.head
#prop_value_df["AVG_VALUE"].dtypes
avg_income_df = pd.read_csv(Path("../data/clean_data/avg_income.csv"), header = 0, names = ["YEAR","ZIPCODE","AVG_INCOME"], infer_datetime_format=True, parse_dates=True, dtype = {"avg_income" : np.float64})
#avg_income_df = avg_income_df.groupby(["YEAR","ZIPCODE"],as_index = True).mean()
#avg_income_df.head
#avg_income_df["AVG_INCOME"].dtypes
lat_long_df = pd.read_excel(Path("../data/lat_long_by_zip_code.xlsx"), header = 0, usecols = ["Zip Code","Latitude","Longitude"])
lat_long_df = lat_long_df.rename(columns = {"Zip Code": "ZIPCODE", "Latitude": "LATITUDE" ,"Longitude": "LONGITUDE"})
#lat_long_df = lat_long_df.groupby(["ZIPCODE"],as_index = True).mean()
#lat_long_df.head
main_df = pd.merge(pd.merge(prop_value_df, avg_income_df, how = "inner", on = ["YEAR", "ZIPCODE"]), lat_long_df, how = "inner", on = "ZIPCODE")
#main_df = pd.merge(pd.merge(prop_value_df, avg_income_df, how = "inner", on = "YEAR"), lat_long_df, how = "inner", on = "ZIPCODE")
main_df["OPPORTUNITY_RATIO"] = main_df["AVG_INCOME"].astype(float) / main_df["AVG_PROP"].astype(float)
main_df = main_df.groupby(["YEAR", "ZIPCODE"], as_index = True).mean()
main_df.to_csv("../data/clean_data/main_df.csv") 
main_df.head()
#main_df.dtypes

                   AVG_PROP     AVG_INCOME  LATITUDE  LONGITUDE  \
YEAR ZIPCODE
2007 75201    590771.500000  402407.690759   32.7904   -96.8044
     75202    220502.666667   92723.711340   32.7781   -96.8054
     75203     77922.166667   23109.939014   32.7460   -96.8070
     75204    266258.583333   92527.013487   32.8038   -96.7851
     75205    841996.583333  421799.237101   32.8260   -96.7843

              OPPORTUNITY_RATIO
YEAR ZIPCODE
2007 75201             0.681792
     75202             0.420585
     75203             0.296693
     75204             0.347512
     75205             0.501058