# Data Cleaning

note: multiply AGI by 1000

In [7]:
# imports
import os 
import pandas as pd
import numpy as np
from pathlib import Path
import seaborn as sns

In [19]:
salary_df = pd.read_csv("../data/clean_data/cnc_sal_data.csv", infer_datetime_format= True, parse_dates= True)

In [20]:
salary_df.head()

   YEAR  ZIP CODE  NO. OF RETURNS      AGI
0  2007     73301            1798     7230
1  2007     73949              43     1915
2  2007     75001            7128   693056
3  2007     75002           26669  2002247
4  2007     75006           21953  1053748

In [21]:
# salary_df.shape
# salary_df.dtypes

In [22]:
salary_df["AGI"]= salary_df["AGI"]* 1000
salary_df.head()

   YEAR  ZIP CODE  NO. OF RETURNS         AGI
0  2007     73301            1798     7230000
1  2007     73949              43     1915000
2  2007     75001            7128   693056000
3  2007     75002           26669  2002247000
4  2007     75006           21953  1053748000